{% macro thread_card(thread) %}
    <div class="card my-3" id="thread-{{ thread.id }}">
        {% if thread.nick %}
            <div class="card-header">
                {{ thread.nick }}
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ thread.title }}</h5>
            <p class="card-text">{{ thread.text }}</p>
            {% if request.url != url_for('thread', thread_id=thread.id) %}
                <!--        <a href="{{ url_for('thread', thread_id=thread.id) }}" class="btn btn-primary">Ответить</a>-->
                <a href="/forum/{{ thread.id }}" class="btn btn-primary">Ответить</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro comment_card(comment) %}
    <div class="card my-3 comment" id="comment-{{ comment.id }}">
        <div class="card-header">{{ comment.nick|default('Аноним', true) }} |
            {{ comment.create_at | iso_str_date_to_format }} | №{{ comment.id }} |
        </div>
        <div class="card-body">
            {% if comment.media %}

                <div class="videos mb-2">
                    {% for media in comment.media|selectattr("filename", "include_extension", ["mp4", "webm"]) %}
                        <video id="my-player" class="m-2 video-js" data-setup='{}' controls width="320" height="240">
                            {% if "mp4" == media.filename[-3:] %}
                                <source src="{{ media.s3_url }}#t=0.1" type="video/mp4"></source>
                            {% elif "webm" == media.filename[-4:] %}
                                <source src="{{ media.s3_url }}#t=0.1" type="video/webm"></source>
                            {% endif %}
                        </video>
                    {% endfor %}

                </div>

                <div class="pictures mb-2">
                    {% for media in comment.media|selectattr("filename", "include_extension", ["jpg", "jpeg", "png", "tiff", "gif", "webp"]) %}
                        <a href="{{ media.s3_url }}" data-lightbox="roadtrip" data-lightbox="{{ media.filename }}"
                           data-title="{{ media.filename }}">
                            <img src="{{ media.s3_url }}" class="img-thumbnail" alt="{{ media.filename }}"
                                 style="width: auto; max-height: 150px;">
                        </a>
                    {% endfor %}
                </div>




                <div class="flex mb-5">
                    {% for media in comment.media %}
                        <a class="btn btn-outline-primary"
                           href="{{ media.s3_url }}">{{ media.filename }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <p class="card-text">{{ comment.text }}</p>

            <button class="btn">ответить</button>
        </div>

    </div>
{% endmacro %}