{% extends 'base.html' %}
{% import 'macroses.html' as macroses with context %}

{% block content %}


{{ macroses.thread_card(thread) }}

<div id="comments">
    {% for comment in comments %}
        {{ macroses.comment_card(comment) }}
    {% endfor %}

</div>


{% endblock %}


{% block footer %}
<div id="control">
    <button class="btn btn-outline-primary" id="refresh">Обновить</button>
</div>



<div class=" d-flex justify-content-around">
    <form class="w-50" action="" method="post" id="add_comment">
        <input type="text" value="{{ thread.id }}" hidden name="thread_id">
        <div class="input-group mb-3">
            <input type="text" name="nick" class="form-control" maxlength="15" value="Аноним"
                   placeholder="Ник" aria-label="Add nick" aria-describedby="button-aadon2"/>
            <button class="btn btn-outline-success" id="button-addon2"
                    data-mdb-ripple-color="dark">Добавить
            </button>
        </div>

        <div class="form-group">
            <textarea class="form-control" id="text" name="text" rows="3" placeholder="Комментарий. Макс длинна 1500"
                      required maxlength="1500"></textarea>
        </div>
    </form>

</div>
{% endblock %}